.merchant-tile, .merchant-service-tile{
	background-color: white;
	/*border-radius: 10px;*/
	/*box-shadow: 2px 2px 1px lightgray;*/
	padding: 10px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 20px;
	border: 2px solid #F7F7F9;
	width: 100%;
	padding-bottom: 85%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.merchant-tile:hover, .merchant-service-tile:hover{
	/*background-color: #E2E2E2;*/
	/*box-shadow: 4px 4px 1px lightgray;*/
	border: 2px solid yellowgreen;
}

.merchant-tile label, .merchant-service-tile label{
	font-size: 17px;
	font-weight: 100;
	cursor: pointer;
}

.payment_summary{
	padding: 20px;
	/*border-radius: 10px;
	background-color: white;
	box-shadow: 2px 2px 1px lightgray;*/
	background-color: white;
	border: dotted 1px gray;
}

.payment_summary .merchant-tile, .payment_summary .merchant-service-tile{
	/*background-color: #E2E2E2;*/
	border: dotted 1px gray;
}


.green-text{
	color: yellowgreen !important;
}

.bold{
	font-weight: bold !important;
}

.method.disabled{
	opacity: .50;
	pointer-events: none;
	cursor: not-allowed;
}

.method.active{
	background-color: yellowgreen;
}

.method.active:hover{
	background-color: yellowgreen;
}

.method{
	margin-bottom: 20px;
}

.payment-step{
	background-color: #F7F7F9;
	padding: 10px;
	cursor: pointer;
	width: 80px;
	height: 80px;
	border-radius: 1000px;
	font-size: 40px;
}

.steps-container{
	position: relative;
}

.stepper_line{
	width: 100%;
	background-color: #F7F7F9;
	height: 3px;
	position: relative;
	top: 43px;
}

@media only screen and (max-width: 600px) {
    .payment-step{
		width: 50px;
		height: 50px;
		font-size: 22px;
	}

	.stepper_line{
		top: 30px;
	}

	.method h4{
		font-size: 15px !important;
	}
}

.payment-step label, .payment-step small{
	color: #555;
}

.payment-step.active{
	background-color: yellowgreen;
	color: white;
}

.payment-step.active label , .payment-step.active small {
	color: white;
}

.no-padd-left{
	padding-left: 0px !important;
}

.no-padd-right{
	padding-right: 0px !important;
}

.merchant_thumbnail{
	width: 150px;
}

.s-bold{
	font-weight: 800;
}

#logo-placeholder{
	width: 225px;
	height: 66px;
	background-color: gray;
	cursor: pointer;
}

#logo_preview{
	width: 226px;
}

#avatar-placeholder{
	width: 100px;
	height: 100px;
	background-color: gray;
	cursor: pointer;
}

#avatar_preview{
	width: 100px;
}

#pp_partner,#pp_refno,#pp_currency,#pp_name,#pp_email{
	text-transform: uppercase;
}

.bottom-40{
	margin-bottom: 40px;
}

.table { 
   width: 100% !important; 
   word-wrap:break-word !important;
   table-layout: fixed !important;
   word-break: break-all;
   word-break: break-word;
}


.table-label{
	width: 130px;
}

@media only screen and (max-width: 600px) {
    table.table th{
		vertical-align: center;	
		font-size: 8px;
	}

	.table th, .table td {
	    padding: 8px;
	}

	.table-label{
		width: 80px;
		
	}
}


