body{
	position: relative;
}
.header{
	background: #3F3F49;
	height: 50px;
	width: 100%;
	z-index: 10;
}

.navbar{
	z-index: 12;
}

.sub-header{
	background-color: #EBECF0;
	height: 40px;
	width: 100%;
	z-index: 10;
	position: absolute;
}


.account-content{
	width: 100%;
	padding: 110px 10px 10px 210px;
	height: 100vh;
	max-height: 100vh;
	overflow-y:auto;
	position: absolute;
	top: 0;
	z-index: 3;
}


.sidebar{
	position: absolute;
	width: 200px;
	height: 100vh;
	max-height: 100vh;
	overflow-y:auto;
	padding-top: 110px;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 5;
	border-right: 1px solid #EBECF0;
}

.sidebar>ul{
	list-style-type: none;
	padding-left: 0px;
}

.sidebar>ul>li{
	padding: 3px 5px 3px 10px;
}

.sidebar>ul>li>a{
	display: block;
	text-decoration: none;
	color: #474747;
	cursor: pointer;
}

.sidebar>ul>li>a>span{
	padding: 10px 5px;
	text-align: center;
	width: 40px;
	display: inline-block;
	border-radius: 5px;
}

.sidebar>ul>li>a>span>i{
	color: white;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
}

.sidebar>ul>li>a:hover {
	background-color: #EBECF0;
	border-radius: 5px;
}

.sidebar-child{
	width: 100%;
	padding: 110px 210px 10px 10px;
	height: 100vh;
	max-height: 100vh;
	overflow-y:auto;
	position: fixed;
	overflow-x:hidden;
	top: 0;
	z-index: 3;
	margin: 0 auto;
	background-color: #DFE3E6;
	-webkit-transition: left .2s;
	-moz-transition: left .2s;
	-o-transition: left .2s;
	transition: left .2s;
}

.sidebar-child-close{
	left: 100%;
}

.sidebar-child-open{
	left: 200px;
}



.search-space{
	width: 200px;
	height: 40px;
	z-index: 7;
	padding: 3px 0 0 3px;
	display: inline-block;
}

.search-space input{
	border:none;
	background-color: transparent;
	background-color: #D3D3D5;
	text-align: center;
	border-radius: 20px;
	color: #CC470C;
}

.search-field:focus{
	border:none;
	color: #CC470C;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.search-space i{
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.navbar-default{
	background-color: #3F3F49;
	border: none;
	border-radius: 0px;
}

.navbar li a img{
	width: 25px;
}

.navbar{
	margin-bottom: 0px;
}

.panel-body-close{
	display: none;
}