:root {
    /* INDIGO */
    /* --main-color: #3f51b5;  */
    /* DEEP PURPLE */
    --main-color: #5e35b1;
    --box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    /* CYAN */
    /* --main-color: #00b8d4;  */
    /* PINK */
    /* --main-color: #f50057;  */
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    /*background-image: url("../img/bg.jpg");*/
    background-color: #d6d6dc;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main:before {
    clear: both;
    content: "";
    display: table;
    margin-top: -1px;
    height: 0;
}

label {
    color: #555;
}

td {
    color: #000;
}

a:hover {
    text-decoration: none;
}

.relative {
    position: relative;
}

.btn-secondary {
    color: #000;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #a8c947;
}

.btn.no-width {
    width: auto !important;
}

.text-red {
    color: red;
}

.secondary-color {
    color: #a8c947;
}

.form-control {
    border-radius: 10px !important;
}

.form-control:focus {
    color: #55595c;
    background-color: #f7f7f9;
    border-color: var(--main-color);
    outline: 0;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
}

.btn-group .home-link {
    padding: 10px 20px;
}

.btn-group #btnGroupDrop1 {
    padding: 10px 20px;
}

.container {
    height: 100%;
    /*padding-top: 100px;*/
    position: relative;
}

.content-container {
    position: relative;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    padding-top: 40px;
}

.title {
    margin-bottom: 40px;
}

.logo-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #000;
    font-weight: bold;
}

.register-link a:hover {
    color: #a8c947;
}

.page-container {
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 50px;
    padding-bottom: 50px;
    /*box-shadow: 0 3px 20px #666;*/
    margin-bottom: 50px;
    border: 2px solid #f9fafb;
}

.page-container.home {
    padding-top: 90px;
    margin-top: 100px;
}

.page-container.login {
    padding-top: 70px;
    padding-bottom: 70px;
}

.page-container.success {
    font-size: 20px;
}

.page-container.success h3 {
    font-size: 1.5em;
}

.page-container.success h6 {
    font-size: 0.7em;
}

.input-group-prepend select.input-group-text:focus {
    background-color: #eceeef;
}

.payment-method .method-container {
    padding: 10px 20px;
}

.method {
    background-color: #ffffff;
    /*height: 50px;*/
}

.logo {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 100px;
    transition: 0.3s;
    border: 2px solid #f9fafb;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

.content-container.left {
    margin-bottom: 50px;
}

.content-container.right {
    border-left: 2px solid #f7f7f9;
}

/* ===================================================================================================================

		GENERAL LAYOUT

   =================================================================================================================== */

nav.side-navbar {
    background-color: #242833;
}

a.list-group-item {
    background-color: transparent;
    color: #777 !important;
}

nav.side-navbar .title h1 {
    color: #fff;
}

nav.side-navbar ul li.active a {
    /* background-color: #191B25 !important; */
    background-color: var(--main-color) !important;
    color: #fff !important;
    /* border-right: 4px solid red; */
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

a.list-group-item i {
    color: #777 !important;
}

.sidebar-fixed {
    padding-right: 0 !important;
    z-index: 1001 !important;
}

.main-bg {
    background-color: var(--main-color) !important;
}

.card-option {
    border-left: 10px solid var(--main-color) !important;
}

.card {
    border-radius: 30px !important;
}

.option-check {
    display: none;
}

.modal-header {
    background-color: var(--main-color) !important;
}

.btn-primary {
    background-color: var(--main-color) !important;
}

.sidebar-header {
    padding-top: 10px !important;
}

.avatar {
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.user-first-letter {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

#sideNav {
    position: relative;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .content-container.right {
        border-left: 0px solid #999;
    }
}

table.table {
    background-color: #f7f7f9;
}

.payment-method {
    /*padding: 20px;*/
    margin-bottom: 20px;
}

.payment-method > .row > div {
    margin-top: 15px;
}

.home .method {
    padding: 15px;
    cursor: pointer;
    border: 2px solid #f7f7f9;
}

.home .method:hover {
    /*background-color: #eceeef; */
    border: 2px solid yellowgreen;
}

.home .method.clicked {
    background-color: #a8c947 !important;
}

.home .method.clicked .img span,
.home .method.clicked p {
    color: #fff !important;
}

.home .method p {
    /*margin-top: 10px;*/
    margin-bottom: 0;
    font-size: 12px;
}

.home .method .type-container img {
    margin-top: 10px;
    height: 45px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 50%;
    transform: translateY(-50%);
}

.payment-img {
    height: 50px;
}

.btn {
    /*margin-top: 20px;*/
}

.btn-input {
    cursor: pointer;
    padding: 0;
    border: none;
}

.btn-primary > span {
    color: #fff;
}

.btn-primary:hover {
    background-color: #a8c947;
    border-color: #a8c947;
}

.conditions {
    /*background-color: #f7f7f9;*/
    padding: 20px;
    margin-bottom: 20px;
}

.conditions .form-group {
    margin-bottom: 0;
}

.page-container.corporate {
    /*overflow-y: hidden;*/
}

.checkout-container {
    width: 100%;
    height: 100%;
    background-color: #f7f7f9;
}

.corporate .logo:hover {
    background-color: rgba(255, 255, 255, 1);
}

.corporate .title {
    margin-bottom: 0;
}

.corporate .payment-method {
}

.corporate .method-container {
    padding: 0 20px;
    transition: 0.5s;
    cursor: pointer;
}

.corporate .method {
    position: relative;
    padding: 150px 20px 20px 20px;
    margin-top: 80px;
    border: 2px solid #f7f7f9;
}

.corporate .payment-method .method:hover {
    /*background-color: #a8c947;*/
    border: 2px solid #a8c947;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(171, 205, 72, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(171, 205, 72, 0.75);
}

.corporate .img-container {
    width: 85%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}

.corporate .online-banking .img-container {
    width: 100%;
}

.corporate .img-container img {
    /*box-shadow: 0 10px 15px gray;*/
    border-radius: 15px;
}

.corporate .type-container img {
    height: 30px;
}

#payment-confirm {
    display: none;
}

.confirm-container {
    margin-top: 25px;
    margin-top: 0px;
}
/* ================================== checkbox ===================================  */
@media only screen and (min-width: 1201px) {
    div nav.navbar {
        padding-left: 280px;
    }
}

@media only screen and (min-width: 992px) {
    .left-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .confirm-container .table {
        margin-top: 80px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 991px) {
    h5.title {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 400px !important;
    }
}

@media only screen and (min-width: 320px) {
    .logo {
        width: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .form-control.currency {
        width: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .home .method .type-container img {
        margin-top: 10px;
        height: 26px;
    }
}

@media only screen and (max-width: 374px) {
    .page-container h3.title {
        font-size: 17px;
    }

    #changeMethod {
        font-size: 10px;
    }

    table.table th,
    table.table td {
        font-size: 10px;
    }
}

#transparent-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.8);
    z-index: 9999;
    display: table;
}

.cover-inside {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #e3e3e2;
    font-size: 30px;
    font-weight: normal !important;
}

.cover-inside label img {
    width: 20px;
}

#current-activity {
    font-size: 20px;
    font-weight: 100 !important;
    color: white;
}

.hidden {
    display: none !important;
}

#i_merchant_name {
    font-weight: 800;
    color: black;
}

.dataTables_filter {
    display: none;
}
