html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #eee!important;
}

* {
	font-family: 'Montserrat', sans-serif;
}
nav.navbar {
	padding-top: 7px;
	padding-bottom: 7px;
	width:100%;
	background-color: white !important;
	/*background-color: #263238 !important;*/
	color: #263238 !important;
}

.gold-text {
	color: #febc08;
}

.navbar-brand .nav-logo {
	height: 40px;
}

.nav-item .nav-link i {
	color: #263238 !important;
	/*color: #fff !important;*/
}

div, p, label, input {
	font-size: 13px;
}

a {
	color: #222;
}

a:hover {
	color: grey;
}



.btn {
	padding: .7rem 1.6rem !important;
    font-size: .7rem !important;
    /*width: auto;*/
    width: 110px;
}
td>.btn {
	margin: 0;
	width: auto;
	padding: 0.5rem !important;
}
.btn>span{
	font-size: 9.1px;
}
.modal .btn{
	width:auto;
}
td.text-center:last-child {
	padding: .75rem !important;
}

div.easy-autocomplete.eac-square {
	width: 100% !important;
}

section {
	padding-top: 0;
}

.container-fluid {
	padding: 0;
}

.primary-bg {
	background-color: #13496f !important;
}

.secondary-bg {
	background-color: #607d8b;
}

.primary-border {
	border-color: #13496f !important;
}

/*button.btn.btn-primary {
	background-color: #13496f !important !important;
}*/

.btn-secondary {
	background-color: #607d8b !important;
}

/*.btn-info {
	background-color: #00C851   !important;
}*/

.border-deco-left {
	border-left: 50px solid #13496f !important;
	position: relative;
	overflow: visible !important;
}

.border-deco-left > i {
	position: absolute;
	left: -35px;
	top: 50%;
	transform: translateY(-50%);
	color: #febc08;

}

.login .logo-container {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 80px;
	text-align: 
}

main {
	min-height: calc(100vh - 70px);
	width: 100%;
}

footer.main-footer {
	background-color: #413c35 !important;
}

footer {
	padding: 10px;
}

footer small {
	font-size: 11px;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: lightgrey;
}

.breadcrumb-item {
	font-size: 14px;
}
select.custom-select.custom-select-sm.form-control.form-control-sm {
	display: inline-block !important;
}

table.dataTable thead .sorting:before, 
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:after {
	bottom: 1.5em;
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.bc-icons-2 .breadcrumb-item.active {
    color: #eeeeee; }

.asterisk::after {
	/*content: " *";*/
	color: #ef5350;
}

.select2-container--default .select2-selection--single {
	border-color: #ced4da;
	height: 39px !important;
	/*background-color: #546e7a;
	border-color: transparent;*/
}

.select2-selection__arrow {
	margin-top: 5px;
}

div nav.navbar {
	background-color: #13496F;
	z-index: 1000 !important;
	padding-left: 12px;
}

.navbar-brand > strong {
	font-size: 16px;
	color: #fff;
}

.media-body p {
	font-size: 13px;
}

.fixed-top {
	position: fixed !important;
}

.log-out i:hover {
	color: #2196f3;
}

#sideNav {
	transform: translateX(0);
	transition: 0.3s;
}

#sideNav.sidebar-toggle {
	transform: translateX(0) !important;
}

#sideOverlay {
	width: 100%;
	height: 100%;
	z-index: 500;
	display: none; 
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(0,0,0, 0);
	transform: translate(-50%, -50%);
	transition: 0.5s;

}

#sideOverlay.overlay-toggle {
	display: block !important;
	background-color: rgba(0,0,0, 0.4) !important;
}

.sidebar-fixed {
	height: 100vh;
	width: 270px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 1;
	background-color: #fff;
	padding: 1.5rem;
	/* padding-top: 60px; */

}
.sidebar-fixed .list-group .active {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	-webkit-border-radius: 5px;
	border-radius: 5px !important; 
	overflow: hidden;
}
.sidebar-fixed .logo-wrapper {
	padding: 2.5rem; 
}
.sidebar-fixed .logo-wrapper img {
	max-height: 50px; 
}

.list-group-item {
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: transparent;
	color: #607d8b;
}

.list-group-item > i {
	color: #263238 !important;
}

.list-group-item.active > i {
	color: #fff;
}

.list-group-item.active {
	background-color: #13496f !important;
	border-color: transparent;
}

.card {
	overflow: hidden;
}

.home-card {
	position: relative;
	overflow: hidden;
	padding-bottom: 80px !important;
	/*border: 7px solid #a7cb35;*/
}

.home-card h6 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 15px;
	padding: 15px !important;
}

.card-hover:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
}

.page {
	background: transparent;
}

.page .card .card-header-title {
	font-size: 13px;
}

.page .card small {
	font-size: 10px;
}

.option-check {
	transition: 0.3s;
}

.option-check > i {
	color: white;
	display: none;
	position: absolute;
	left: -33px;
	top: 35%;
	/*transform: translateY(-50%);*/
}

.card-option:hover .option-check > i {
	display: block !important;
}

.page-item.active .page-link {
    background-color: #2f333e !important
}

#myTable th,
#myTable td {
	font-size: 12px;
}

#myTable_filter {
	display: none;	
}

.date-input-prepend {
	width: 40px;
	font-size: 10px;
}

.first-step {
	display: block;
}

.second-step {
	display: none;
}

.success-step {
	display: none;
}

.rounded {
	border-radius: .125rem !important;
}

.sales-customer-info div {
	font-size: 13px;
}

td.select-checkbox:before {
	margin-top: 3px !important;
}

footer.main-footer {
	left: 0;
}

/* fix dropdown up/down */
span {
    display: inline; 
    text-decoration: none;
    transition: none !important;
}

.modal-dialog {
	border-radius: 5px;
	overflow: hidden;
}



.modal-header h4 {
	color: #fff;
}

@media (min-width: 992px) {
	/*main {
		padding-left: 270px; 
	} */
}


.content-inner {
	padding-top: 10px !important;
}

@media (max-width: 1199.98px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#sideNav {
		transform: translateX(-100%) !important;
		position: fixed;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	#sideNav {
		transform: translateX(-100%) !important;
	}

	main {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	div#pageActive {
	    padding: 0;
	}

	footer {
	    position: relative;
	    bottom: 0;
	    width: 100%;
	    min-height: 40px;
	}

    .padding-0_mobile{
        padding: 0;
    }

    .margin-5_mobile{
        margin-right: 18px;
    }

    .pl-0_mobile{
    	padding-left: 0;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.navbar-brand {
		font-size: 12px;
	}

	.breadcrumb-item {
		font-size: 10px !important;
	}

}

@media only screen and (max-width : 360px) {
	.navbar-brand {
		font-size: 12px;
	}

	.breadcrumb-item {
		font-size: 12px;
	}
}

@media only screen and (max-width : 400px) {
	main {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media only screen and (min-width : 992px) {
	

}

@media only screen and (min-width: 1201px) {
	main {
		padding-left: 270px;
		padding-right: 20px;
	}


	footer.main-footer {
		padding-left: 290px;
	}
	
}

i .icons {
	float: left; 
	margin-left: -18px; 
	margin-top: 10px;
}




/*Din*/

.nav h4, b {
    color:#000;
}   
input:disabled{
    cursor: no-drop !important;
}
select:disabled{
    cursor: no-drop !important;
}
button[disabled=disabled], button:disabled {
    cursor: no-drop !important;
    color:;
}

.blue, .green {
    background-color: transparent !important;
}
.pic_con{
    max-width: 500px;
    width:100%;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.gallerypic{
    object-fit: cover;
    max-width: 100%;
    width:100%;
    height: 300px;
    /*z-index: 1;*/
}
/*.position-fixed{
    position:fixed !important;
}*/
.uploaded_img{
  position: absolute;
}

.box_credit_card,
.box_debit_otc,
.box_otc,
.box_cod {
     background: #f8f8f8;
     width: 50%;
     height: 50px;
     cursor: pointer;
 }

 .box_credit_card,
 .box_otc {
     /*float:left;*/
     padding-right: 1.25px;
     /*clear:both;*/
 }

 .box_debit_otc,
 .box_cod {
     /*float:right;*/
     padding-left: 1.25px;

 }

 .box_otc,
 .box_cod {
     padding-top: 2.5px;
 }

 .cc_inner {
     /*    background:#eeecec;
 height:95px;*/
     text-align: center;
 }

 .do_inner {
     /*background:#eeecec;
height:95px;*/
     text-align: center;
 }

 .otc_inner {
     /*background:#eeecec;
height:95px;*/
     text-align: center;
 }

 .cod_inner {
     /*background:#eeecec;
    height:95px;*/
     text-align: center;
 }

 .second_step {
     /*  height:500px;*/
 }


 .active_box {
     background: #68013C !important;
   /*   background-image: -webkit-linear-gradient(bottom, #E3DA95, #9D9159);
     background-image: -moz-linear-gradient(bottom, #E3DA95, #9D9159);
     background-image: -ms-linear-gradient(bottom, #E3DA95, #9D9159);
     background-image: -o-linear-gradient(bottom, #E3DA95, #9D9159);
     background-image: linear-gradient(bottom, #E3DA95, #9D9159); */
 }

 .box_payment_content {
     margin-top: 100px;
 }

 .cart_item_quantity {
     margin-top: -30px;
 }

 .secondgrid {
     background: white;
 }



 .payment_option img {
     width: 100%;
 }

 .payment_option i,
 .payment_option small {
     color: white !important;
 }

 .payment_option {
     cursor: pointer;
     background-color: #D0D0D0;
     padding: 10px;
     border-radius: 10px;
     margin-bottom: 10px;
 }

 span.payment_type {
     font-style: italic;
     color: #908f8f;
 }
  

 #payment_option_img1, #payment_option_img2{
     border-radius: 10px;
 }

.filterBtn {
    margin-top: 35px;
}

/*//collapse*/
.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header a {
    color:#000;

}
.card-header h5{
    font-weight: normal;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}
input[readonly] {
  cursor: no-drop;
}
.modal-body .card-header{
    background-color: #e9ecef;
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.bc-icons-2 .breadcrumb-item.active {
    color: #eeeeee; }



/*din*/
.nav-tabs .nav-item .nav-link{
    color:#000 !important;
}
